* {
  box-sizing: border-box;
}

.board {
  display: flex;
}
.pipeline {
  flex: 0 1 auto;
  justify-content: space-between;
  padding: 5px;
  background-color: #f4f4f4;
  border: 1px solid #e9e9e9;
}

.card {
  width: 215px;
  margin: 5px 0;
  padding: 5px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #e9e9e9;
}

.card--selected {
  border-color: #5e60ba;
  background-color: #efeff8;
}

.drag-highlight {
  background-color: rgba(0, 0, 255, 0.2);
  position: absolute;
  border: 1px solid gray;
}
